{
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-async-to-generator",
    "syntax-async-generators"
  ],
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "sourceMaps": "inline"
}
